apiVersion: apps/v1
kind: Deployment
metadata:
  name: github-action-deployment
  labels:
    app: github-action-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: github-action-deployment
  template:
    metadata:
      labels:
        app: github-action-deployment
    spec:
      containers:
        - name: github-action-deployment
          image: "398081196462.dkr.ecr.ca-central-1.amazonaws.com/github_action:1.0"
          imagePullPolicy: Always
          ports:
            - containerPort: 8080